<template id="menu-template">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html"><img src="/img/" width="50"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-traget="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nabarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0" id="navItems">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>
        </ul>
    </div>
    </div>
</template>